version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: zt_totp_postgres
    environment:
      POSTGRES_USER: zt_user
      POSTGRES_PASSWORD: zt_pass
      POSTGRES_DB: zt_totp
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: zt_totp_redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
